@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Blinker', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 12px;
  margin: 0 auto;
}

/* Navigation Bar Styles */
.nav {
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.2);
  height: 88px;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.nav__logo {
  width: 80px;
}

.nav__links {
  display: flex;
  gap: 24px;
}

.nav__link {
  font-size: 18px;
  text-transform: uppercase;
}

.nav__link:hover {
  text-decoration: underline;
}

/* Header */
.header__row {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.color-primary {
  color: #d81414;
}

.header__grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.header__grid {
  width: calc(50% - 8px);
  height: 280px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.header__grid__title {
  position: absolute;
  left: 24px;
  bottom: 24px;
  font-size: 32px;
  color: white;
  font-weight: 600;
  z-index: 2;
}

.header__grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
  transition: 200ms ease;
}

.header__grid:hover .header__grid__image {
  filter: brightness(55%);
}
