@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Navigation Bar Styles */
.nav {
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.2);
  height: 88px;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.nav__logo {
  width: 80px;
}

.nav__links {
  display: flex;
  gap: 24px;
}

.nav__link {
  font-size: 18px;
  text-transform: uppercase;
}

.nav__link:hover {
  text-decoration: underline;
}


